In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import emoji 
from wordcloud import WordCloud, STOPWORDS
from collections import Counter

In [2]:
result=pd.read_json("./result1.json");

# result.shape
result.isnull().sum()
result.head()

,name,type,id,messages
0,Software sec A,private_supergroup,1376792344,"{'id': -999983470, 'type': 'service', 'date': ..."
1,Software sec A,private_supergroup,1376792344,"{'id': -999983469, 'type': 'service', 'date': ..."
2,Software sec A,private_supergroup,1376792344,"{'id': -999983468, 'type': 'service', 'date': ..."
3,Software sec A,private_supergroup,1376792344,"{'id': -999983467, 'type': 'service', 'date': ..."
4,Software sec A,private_supergroup,1376792344,"{'id': -999983466, 'type': 'service', 'date': ..."

In [ ]:
dt = pd.DataFrame(result.messages.tolist())
dt.to_csv('./result_csv3.csv', index=None)
cs = pd.read_csv('./result_csv3.csv')
cs = pd.DataFrame(cs)[['id','from','from_id','text','reply_to_message_id']]
# cs.head()
cs

In [ ]:
active_members=cs.copy()

In [ ]:
active_members=active_members.groupby(['from']).count().sort_values("from_id",ascending=False)
print(active_members)
# active_members.text.max()
# active_members[active_members.text == active_members.text.max()]

In [ ]:
words = cs.copy()
words=words.dropna()
# words.head()
words

In [ ]:
word = " ".join(review for review in words['text'])

stopwords = set(STOPWORDS)

#delete the word/text that are commonly used(eg.the,yes,no,bye,or and is)
stopwords.update(["the","is","yea","ok","okay","or","ene",'awo',"no","will","yeah","I","eko","if","me","you","done","want","Ya","https","youtube","Awo","lay","new","channel","nw","sol","u"])


#Creating a word cloud 
wordcloud = WordCloud(width = 500, height =500 ,stopwords=stopwords, background_color="black",min_font_size = 10).generate(word)

plt.figure( figsize=(15,7))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [3]:
bety = cs.loc[ cs['from'] == 'Betty'] 
bety.head(10)

NameError: name 'cs' is not defined